<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div layout:fragment="content">
    <div>
        <a th:href="@{/manager/listjobs}">List Jobs</a>
        <a th:href="@{/manager/addjob}">Add Job</a>
        <a th:href="@{/manager/applications/all}">List Applications</a>
    </div>
</div>
</body>
</html>