<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/manager}">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <a th:href="@{/manager/listjobs}">List Jobs</a>
            </div>
            <div class="col-4">
                <a th:href="@{/manager/addjob}">Add Job</a>
            </div>
            <div class="col-4">
                <a th:href="@{/manager/applications/all}">List Applications</a>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <a th:href="@{/manager/logout}">Logout</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>