<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/manager}">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" th:src="@{/img/listjobs.svg}">
                    <div class="card-body">
                        <h5 class="card-title">List Jobs</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a th:href="@{/manager/listjobs}">List Jobs</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" th:src="@{/img/addjob.svg}">
                    <div class="card-body">
                        <h5 class="card-title">Create a new listing</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a th:href="@{/manager/listjobs}">List Jobs</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" th:src="@{/img/listapplications.svg}">
                    <div class="card-body">
                        <h5 class="card-title">List Applications</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a th:href="@{/manager/listjobs}">List Jobs</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">

            </div>
            <div class="col-md-4">

            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <form th:action="@{/manager/logout}" method="post">
                    <input type="submit" value="Logout" class="btn btn-primary"/>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>