<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container text-center">
        <ul th:each="app : ${allApplicationDTOs}">
            <li th:text="${app.getId()}"></li>
            <li th:text="${app.getName()}"></li>
            <li th:text="${app.getEmail()}"></li>
            <li th:text="${app.getPhone()}"></li>
            <li th:text="${app.getAddress()}"></li>
            <li th:text="${app.getThoughtsOnJob()}"></li>
            <!--
            <object th:data="@{'/manager/applications/all/'+${app.getId()}+'/cv'}" type="application/pdf" width="100%" height="700pxs"></object>
            -->
            <p>CV Eklenecek</p>
            <br/>
            <a th:href="@{'/manager/applications/all/' + ${app.getId()} + '/detail'}">Details</a>
            <br/>
        </ul>
    </div>
</div>
</body>
</html>