<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/manager}">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container text-center">

        <div class="row mt-5">
            <div class="col text-center">
                <ul th:each="app : ${allApplicationDTOs}">
                    <li th:text="${app.getId()}"></li>
                    <li th:text="${app.getName()}"></li>
                    <li th:text="${app.getEmail()}"></li>
                    <li th:text="${app.getPhone()}"></li>
                    <li th:text="${app.getAddress()}"></li>
                    <li th:text="${app.getThoughtsOnJob()}"></li>

                    <p>CV</p>
                    <br/>
                    <a th:href="@{'/manager/applications/all/' + ${app.getId()} + '/detail'}">Details</a>
                    <br/>
                </ul>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col text-center">
                <nav aria-label="Page navigation">
                    <ul th:if="${totalPages > 1}" class="pagination justify-content-center" >
                        <li  th:each="pageNumber : ${pageNumbers}" th:class="${pageNumber==pages.getNumber()} ? 'page-item active': 'page-item'">
                            <a th:href="@{/manager/applications/all(requestedPage=${pageNumber})}" th:text="${pageNumber+1}" class="page-link"></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
</div>
</body>
</html>