<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <title>Apply</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">

        <form class="border border-light p-5" action="#" th:action="@{'/user/listjobs/'+ ${jobId}+'/apply/' }" th:object="${jobApplicationDTO}" enctype="multipart/form-data" method="post">

            <p class="h4 mb-4 text-center" th:text="'Apply To' + ${jobId}">Apply</p>

            <label for="myName" class="active">Your Name:</label>
            <div  th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
            <input th:field="*{name}" type="text" id="myName" class="form-control mb-4" placeholder="Name" required>

            <label for="defaultLoginFormEmail" class="active">Your Email:</label>
            <div  th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
            <input th:field="*{email}" type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail" required>

            <label for="myPhone">Phone</label>
            <div  th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></div>
            <input th:field="*{phone}" type="text" id="myPhone" class="form-control mb-4" placeholder="5458432322" required>

            <label for="myAdress">Adres</label>
            <div  th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></div>
            <input th:field="*{address}" type="text" id="myAdress" class="form-control mb-4" placeholder="Adres" required>

            <label for="textarea">Your Thougts:<br/>
                <div  th:if="${#fields.hasErrors('thoughtsOnJob')}" th:errors="*{thoughtsOnJob}"></div>
            </label>
            <div  th:if="${#fields.hasErrors('thoughtsOnJob')}" th:errors="*{thoughtsOnJob}"></div>
            <textarea th:field="*{thoughtsOnJob}" id="textarea" class="form-control mb-4" placeholder="I think this job is the best fit for me..." required></textarea>

            <div class="input-group mb-4">
                <div class="input-group-prepend">
                    <span class="input-group-text">Upload</span>
                </div>
                <div class="custom-file">

                    <input th:field="*{cv}"  th:name="file" type="file" class="custom-file-input" id="fileInput" aria-describedby="fileInput" required>
                    <label class="custom-file-label" for="fileInput">
                        CV<br/>
                        <div  th:if="${#fields.hasErrors('cv')}" th:errors="*{cv}"></div>
                    </label>
                </div>
            </div>

            <button class="btn btn-info btn-block my-4" type="submit">Apply</button>


        </form>
    </div>

    <a th:href="@{/user/listjobs}">Go to the list jobs</a>
</div>

</body>
</html>