<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>User Home</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <a th:href="@{/user/listjobs}">List Jobs</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>