<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<div layout:fragment="content">
    <div class="container text-center">
        <div class="row">
            <div class="col-12 text-center">
                <h3 th:text="${job.getJobTitle()}"></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <p th:text="${job.getJobDescription()}"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-6 text-center">
                <p th:text="'Alinacak kişi sayısı: ' + ${job.getNumberOfPeopleToHire()}"></p>
            </div>
            <div class="col-6 text-center">
                <p th:text="'Last application date: ' + ${job.getLastApplicationDate()}"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <a th:href="@{'/user/listjobs/' + ${job.getId()} +'/apply/'}">apply</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>