<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/user}">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/listing.css}">
    <title>Home</title>
</head>
<body>

<div layout:fragment="content">
    <div class="container text-center">
        <table style="width:100%">
            <tr>
                <th>Job Title</th>
                <th>Description</th>
                <th>Apply</th>
                <th>Details</th>
            </tr>
            <tr th:each="job : ${jobs}">
                <td th:text="${job.getJobTitle()}"></td>
                <td th:text="${job.getJobDescription().length()<100} ? ${job.getJobDescription()} : ${job.getJobDescription().substring(0,100) + '...'} "></td>
                <td><a th:href="@{'/user/listjobs/' + ${job.getId()} +'/apply/'}" class="btn btn-primary">apply</a></td>
                <td><a th:href="@{'/user/listjobs/'+ ${job.getId()} +'/jobdetail'}" class="btn btn-primary">Details</a></td>
            </tr>
        </table>
    </div>
    <div class="container text-center">
        <div class="listings-container">
            <div>
                <a href="#" class="listing tag-post-link full-time">
                    <div class="listing-logo tag-post-link">
                        <img alt="logo" class="tag-post-link">
                    </div>
                    <div class="listing-title tag-post-link">
                        <h4>
                            <span class="title tag-post-link">
                                Ruby on Rails Gelistiricisi
                            </span>
                            <span class="listing-type tag-post-type full-time">
                                <a>
                                    Tam zamanli
                                </a>
                            </span>
                            <span class="timeago wide">
                                3 ay once
                            </span>
                        </h4>
                        <ul class="listing-icons">
                            <li>
                                <i class="ln ln-icon-Management"></i>
                                <a href="" class="router-link-exact-active router-link-active">Ozgur Yazilim AS</a>
                            </li>
                            <li>
                                <i class="ln ln-icon-Map2"></i>
                                <a href="" class="">Remote</a>
                            </li>
                            <li class="timeago-item">
                                <i class="ln ln-icon-Clock"></i>
                                <span>2 ay once</span>
                            </li>
                            <li>
                                <div class="listing-date post-tag tag-post-tag">
                                    <a href="#" class="tag-post-tag">aws</a>
                                </div>
                                <div class="listing-date post-tag tag-post-tag">
                                    <a href="#" class="tag-post-tag">aws</a>
                                </div>
                                <div class="listing-date post-tag tag-post-tag">
                                    <a href="#" class="tag-post-tag">aws</a>
                                </div>
                                <div class="listing-date post-tag tag-post-tag">
                                    <a href="#" class="tag-post-tag">aws</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </a>

                <a href="#" class="listing tag-post-link full-time">
                    <div class="listing-logo tag-post-link">
                        <img alt="logo" class="tag-post-link">
                    </div>
                    <div class="listing-title tag-post-link">
                        <h4>
                            <span class="title tag-post-link">
                                Ruby on Rails Gelistiricisi
                            </span>
                            <span class="listing-type tag-post-type full-time">
                                <a>
                                    Tam zamanli
                                </a>
                            </span>
                            <span class="timeago wide">
                                3 ay once
                            </span>
                        </h4>
                        <ul class="listing-icons">
                            <li>
                                <i class="ln ln-icon-Management"></i>
                                <a href="" class="router-link-exact-active router-link-active">Ozgur Yazilim AS</a>
                            </li>
                            <li>
                                <i class="ln ln-icon-Map2"></i>
                                <a href="" class="">Remote</a>
                            </li>
                            <li class="timeago-item">
                                <i class="ln ln-icon-Clock"></i>
                                <span>2 ay once</span>
                            </li>
                            <li>
                                <div class="listing-date post-tag tag-post-tag">
                                    <a href="#" class="tag-post-tag">aws</a>
                                </div>
                                <div class="listing-date post-tag tag-post-tag">
                                    <a href="#" class="tag-post-tag">aws</a>
                                </div>
                                <div class="listing-date post-tag tag-post-tag">
                                    <a href="#" class="tag-post-tag">aws</a>
                                </div>
                                <div class="listing-date post-tag tag-post-tag">
                                    <a href="#" class="tag-post-tag">aws</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>
        </div>
    </div>


</div>

</body>
</html>