<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/user}">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<div layout:fragment="content">
    <div class="container text-center">
        <table style="width:100%">
            <tr>
                <th>Job Title</th>
                <th>Description</th>
                <th>Apply</th>
                <th>Details</th>
            </tr>
            <tr th:each="job : ${jobs}">
                <td th:text="${job.getJobTitle()}"></td>
                <td th:text="${job.getJobDescription().length()<100} ? ${job.getJobDescription()} : ${job.getJobDescription().substring(0,100) + '...'} "></td>
                <td><a th:href="@{'/user/listjobs/' + ${job.getId()} +'/apply/'}" class="btn btn-primary">apply</a></td>
                <td><a th:href="@{'/user/listjobs/'+ ${job.getId()} +'/jobdetail'}" class="btn btn-primary">Details</a></td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>