<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>HR Application</title>
</head>
<body>
<div layout:fragment="content">
    <section class="my-5">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-12">
                    <h1>Welcome to Human Resources Site</h1>
                    <p>This is where you can bla bla bla...</p>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>